body {
    background-color: #f5f5f5;
    font-family: 'rubik';
}

/* actual posts  */
.blog-header {
            background-color: #f8f9fa;
            padding: 2rem 0 1.2rem 0;
            margin-bottom: 2.2rem;
        }
        .blog-title h2{
            font-size: 2.2rem;
            color: #333;
        }
        .post-meta {
            font-size: 0.9rem;
            color: #6c757d;
            margin-bottom: 1rem;
        }
        .author-image {
            width: 26px;
            height: 26px;
            border-radius: 50%;
            margin-right: 10px;
        }
        .featured-image {
            width: 100%;
            max-height: 280px;
            height: auto;
            object-fit: cover;
        }
        .post-content {
            font-size: 1.1rem;
            line-height: 1.8;
            margin-bottom: 65px;
            margin-top: 2rem;
        }
        .post-content p{
            white-space: pre; 
            text-wrap: wrap;
            color: #010009;
            font-family: 'inter';
            margin-bottom: 13px !important;
        }
        .post-content p:first-of-type:first-child:first-letter,
        .post-content .first-pgh::first-letter {
            text-transform: capitalize;
            font-size: 4.2rem;
            font-weight: bold;
            color: #05126a;
            margin-right: 0.2rem;
            margin-bottom: 0.2rem;
            margin-top: 0.04rem;
            font-family: 'Rubik', sans-serif;
            float: left;
        }
        .post-content h2 {
            margin-top: 34px;
            font-size: 1.6rem;
        }
        /* .post-content h6 {
            margin-bottom: 4px;
        } */
        .post-content blockquote {
            text-align: center;
        }
        .tags {
            margin-top: 2rem;
        }
        .tag {
            background-color: #e9ecef;
            color: #495057;
            padding: 0.3rem 0.6rem;
            border-radius: 0.25rem;
            margin-right: 0.5rem;
            margin-bottom: 0.5rem;
            margin-top: 0.5rem;
            font-size: 0.8rem;
        }
        .social-sharing {
            margin-top: 2rem;
        }
        .social-sharing button {
            margin-right: 0.5rem;
            margin-bottom: 0.5rem;
        }
        #relatedPosts {
            margin-top: 3rem;
        }
        .related-post {
            display: flex;
            margin-bottom: 1rem;
        }
        .related-post h3{
            font-size: .64rem;
            margin-bottom: 0.05rem;
        }
        .related-post img {
            max-width: 80px;
            height: 80px;
            border-radius: 6px;
            object-fit: cover;
            margin-right: 6px;
        }
        .post-content ul {
            margin: 1rem 0;
        }
        .post-content ul li {
            list-style: '✴ ';
            margin-left: 3.42rem;
            margin-right: 0.6rem;
            font-family: 'Inter', sans-serif;
            /* font-size: 1rem; */
            font-weight: 300;
            line-height: 1.4;
            margin-bottom: 12px;
        }
        hr {
            border: 0;
            max-width: 100%;
            box-sizing: border-box;
            height: 1px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 150px;
            position: relative;
            margin: 44px auto 42px auto;
        }
        hr::before {
            content: "✳ ✴ ✳";
            font-size: 1.2em; /* Adjust size as needed */
            color: #06022d; /* Match color with the HR line */
            position: absolute;
            top: -18px; /* Adjust position vertically if necessary */
            /* background-color: white;  Use the background color to hide the HR line behind the symbols */
            padding: 0 10px; /* Add padding to give space around the symbols */
            font-family: Arial, 'Times New Roman', sans-serif; /* Force a non-emoji font */
        }
        #recentPosts{
            /* margin-left: 24px; */
            max-width: 348px;
        }
        #recentPosts h3, #moreRelatedPosts h3 {
            font-size: 1.05 !important;
            color: #161130;
        }
        #recentPosts small, #moreRelatedPosts small {
            margin-bottom: 0;
            font-size: smaller;
            color: #4e4e54;
        }
        .recent-post, .related-post {
            display: flex;
            margin-bottom: .98rem;
        }
        .recent-post h3, .related-post h3 {
            font-size: 1rem;
            margin-bottom: 0.15rem;
        }
        .recent-post img, .related-post img {
            max-width: 68px;
            min-width: 68px;
            height: 68px;
            border-radius: 6px;
            object-fit: cover;
            margin-right: 6px;
        }
        #moreRelatedPosts {
            margin-top: 3rem;
            padding-top: 2rem;
            border-top: 1px solid #e9ecef;
        }

        .progress-container {
        position: fixed;
        bottom: 0px;
        z-index: 9999; /* Make sure it's above everything */
        width: 100%;
        height: 4px;
        background: transparent;
        }
        .progress-bar {
        height: 6px;
        background: linear-gradient(to right, #041cb9, #4d17b3, #5d0fda);
        width: 0%;
        transition: width 0.1s ease-out;
        }
        ul{
            margin-bottom: 4px;
        }

/* blog list  */

.blog-item{
    width: calc(100% - 36px);
    margin: 0 18px;
}
.blog-post {
    margin-bottom: 0.92rem;
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    overflow: hidden;
    transition: all 0.2s ease;
        border: 1px solid #eee;
}
.blog-post:hover {
    box-shadow: 0 0.4rem .6rem rgba(0, 0, 0, 0.12) !important;
    transform: translateY(-0.2rem);
}
.blog-post:hover img {
    transform: scale(1.08) translateY(-0.38rem);
}
.blog-post img {
    width: 100%;
    object-fit: cover;
    object-position: center;
    max-height: 180px;
    transition: all 0.32s ease;
}
.blog-post-content {
    padding: 1.22rem 1.5rem;
}
.blog-post h2 {
    font-size: 1.5rem;
    margin-bottom: 0.2rem;
    max-width: 650px;
}
.blog-post h2:hover {
    text-decoration: underline;
}
.date {
    color: #6c757d;
    font-size: 0.875rem;
}
.tag {
    background: #e9ecef;
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    font-size: 0.7rem;
    margin-right: 0.5rem;
    color: #495057;
}
.blog_right_sidebar {
    background: #ffffff;
    border: 1px solid #eee;
    padding: 30px;
}
.single_sidebar_widget {
    margin-bottom: 30px;
}
.widget_title {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}
.post_item {
    margin-bottom: 20px;
}
.post_item img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 6px;
    margin-right: 6px;
}
.media-body h3 {
    font-size: 1rem;
    margin-bottom: 0.15rem;
}
.cat-list li, .list li {
    margin-bottom: 0.5rem;
}
.search-icon{
position: absolute;
top: 8px;
right: 26px;
color: #767676;
}
#loadMoreBtn {
    display: none;
    margin: 0 auto;
    padding: 18px;
    width: 100%;
    font-size: larger;
}

