body {
    background-color: #f8f9fa;
}

.blog-item{
    width: calc(100% - 36px);
    margin: 0 18px;
}
.blog-post {
    margin-bottom: 0.92rem;
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    overflow: hidden;
    transition: all 0.2s ease;
}
.blog-post:hover {
    box-shadow: 0 0.4rem .6rem rgba(0, 0, 0, 0.12) !important;
    transform: translateY(-0.2rem);
}
.blog-post:hover img {
    transform: scale(1.08) translateY(-0.38rem);
}
.blog-post img {
    width: 100%;
    object-fit: cover;
    object-position: center;
    max-height: 180px;
    transition: all 0.32s ease;
}
.blog-post-content {
    padding: 1.22rem 1.5rem;
}
.blog-post h2 {
    font-size: 1.5rem;
    margin-bottom: 0.2rem;
    max-width: 650px;
}
.blog-post h2:hover {
    text-decoration: underline;
}
.date {
    color: #6c757d;
    font-size: 0.875rem;
}
.tags {
    
}
.tag {
    background: #e9ecef;
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    font-size: 0.7rem;
    margin-right: 0.5rem;
    color: #495057;
}
.blog_right_sidebar {
    background: #fbf9ff;
    border: 1px solid #eee;
    padding: 30px;
}
.single_sidebar_widget {
    margin-bottom: 30px;
}
.widget_title {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}
.post_item {
    margin-bottom: 20px;
}
.post_item img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 6px;
    margin-right: 6px;
}
.media-body h3 {
    font-size: 1rem;
    margin-bottom: 0.15rem;
}
.cat-list li, .list li {
    margin-bottom: 0.5rem;
}
.search-icon{
position: absolute;
top: 8px;
right: 26px;
color: #767676;
}
#loadMoreBtn {
    display: none;
    margin: 0 auto;
}